{% extends "LtcConfigBundle:Admin:form.html.twig" %}

{% block form_fields %}
{{ form_row(form.title) }}
<fieldset>
    {% if document.hasImage %}
        <img class="image_thumb" src="{{ asset(document.image|ltc_file|apply_filter("admin_medium")) }}" />
    {% endif %}
    <legend>Image :</legend>
    {{ form_row(form.image.uploadedFile) }}
    {{ form_row(form.image.legend) }}
</fieldset>
<fieldset>
    <legend>Textes :</legend>
    <div class="clearfix">
        {{ form_label(form.summary) }}
        <div class="input">
            {{ form_widget(form.summary, {"attr": {"rows": 10}}) }}
            {{ form_errors(form.summary) }}
        </div>
    </div>
    <div class="clearfix with_image with_file">
        {{ form_label(form.body) }}
        <div class="input">
            {{ form_widget(form.body, {"attr": {"rows": 22}}) }}
            {{ form_errors(form.body) }}
        </div>
    </div>
    <div class="clearfix with_file">
        {{ form_label(form.publications) }}
        <div class="input">
            {{ form_widget(form.publications, {"attr": {"rows": 22}}) }}
            {{ form_errors(form.publications) }}
        </div>
    </div>
</fieldset>
{% endblock %}
