{% extends "LtcConfig:Admin:form.html.twig" %}

{% block form_fields %}
<div>
    {{ form_label(form.title, "Nom") }}
    {{ form_errors(form.title) }}
    {{ form_field(form.title) }}
</div>
<div>
    {{ form_label(form.url, "Url") }}
    {{ form_errors(form.url) }}
    {{ form_field(form.url) }}
</div>
<section>
    {% if document.hasImage %}
        <img class="image_thumb" src="{{ asset(document.image.path|apply_filter("admin_medium")) }}" />
    {% endif %}
    <div class="image_form">
        Photo.
        <div>
            {{ form_field(form.image.file) }}
            {{ form_errors(form.image) }}
        </div>
        <div>
            {{ form_label(form.image.legend, "Legende") }}
            {{ form_field(form.image.legend) }}
        </div>
    </div>
</section>
{% endblock %}
