{% extends "LtcDoc:Doc:view.html.twig" %}

{% block meta_title %}{{ doc.title }}{% endblock %}

{% block doc_metas %}
<div class="meta_block">
    <a href="{{ path("ltc_article_category_view", {"slug": doc.category.slug}) }}">
        &lt; Retour a "{{ doc.category.title }}"
    </a>
</div>
{{ parent() }}
{% endblock %}

{% block admin_url %}{{ path("ltc_article_admin_article_edit", {"categorySlug": doc.category.slug, "slug": doc.slug}) }}{% endblock %}
