<article class="story_preview">
    <header class="clearfix">
        <h2><a href="{{ path('ltc_story_view', {"slug": story.slug}) }}">{{ story.title }}</a></h2>
        <p class="metadata">{{ story.authorName }}, {{ story.createdAt|ltc_date }}</p>
    </header>
    <div>{{ story.summary|markdown }}</div>
    {% if story.body %}
        <a href="{{ path('ltc_story_view', {"slug": story.slug}) }}">Lire la suite...</a>
    {% endif %}
</article>
