<article class="story_preview">
    <header class="clearfix">
        <h2><a href="{{ path('ltc_story_view', {"slug": story.slug}) }}">{{ story.title }}</a></h2>
        <p class="metadata">{{ story.authorName }}, {{ story.createdAt|ltc_date }}</p>
    </header>
    <div>{{ story.summary|markdown }}</div>
    {% if story.body %}
        <a href="{{ path('ltc_story_view', {"slug": story.slug}) }}">Lire la suite...</a>
    {% endif %}

    {% for story in stories %}
    <ul class="recent_stories">
        <li>
            <a href="{{ path("ltc_story_view", {"slug": story.slug}) }}">{{ story.title }}</a>
        </li>
    </ul>
    {% endfor %}
    <a class="all_others" href="{{ path('ltc_story_list') }}">&gt; autres actus</a>
</article>
