<article class="doc_preview story_preview">
    <header>
        <h2><a href="{{ story.url }}">{{ story.title }}</a></h2>
        <p class="metadata">{{ story.publishedAt|ltc_date }}</p>
    </header>
    <div class="small">{{ story.body }}</div>
    <a class="more" href="{{ story.url }}">Lire la suite</a>
</article>
