{% extends "::root.html.twig" %}

{% block stylesheets %}
    {% stylesheets
        '@LtcCoreBundle/Resources/css/reset.css'
        '@LtcCoreBundle/Resources/css/font.css'
        '@LtcCoreBundle/Resources/css/grid.css'
        '@LtcCoreBundle/Resources/css/core.css'
        '@LtcStoryBundle/Resources/css/story.css'
        '@LtcCoreBundle/Resources/css/markdown.css'
        '@LtcCoreBundle/Resources/css/header.css'
        '@LtcCoreBundle/Resources/css/footer.css'
        '@LtcCoreBundle/Resources/css/home.css'
        '@LtcDocBundle/Resources/css/doc.css'
        '@LtcTagBundle/Resources/css/tag.css'
        '@LtcCommentBundle/Resources/css/comment.css'
        filter="yui_css" %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block body %}

<div id="screen" class="container">
    <header id="header" class="row">
        <a class="rss_link" href="{{ path("ltc_feed") }}"><img src="{{ asset("bundles/ltccore/img/rss_icon.jpg") }}" alt="Flux RSS" /></a>
        <div class="sixcol">
            <h1><a href="{{ path("homepage") }}">Les Trois Couronnes</a></h1>
            <span class="baseline">Didactique de l'information-documentation et identité professionnelle de l'enseignant documentaliste. Site de Pascal Duplessis</span>
        </div>
        {% include "::menu.html.twig" with {"lastcol": "fourcol"} %}
    </header>

    <div id="main" role="main">
        {% block content %}{% endblock %}
    </div>

    <footer id="footer">
        <div class="row">
            <div class="sixcol blockcol small_search">
                Les Trois Couronnes - &copy; 2011 Pascal Duplessis<br />
                <a class="js_email"></a><br /><br />
                Ce site est OpenSource : <a href="http://github.com/ornicar/ltc">Voir le code</a>
            </div>
            {% include "::menu.html.twig" with {"lastcol": "fourcol"} %}
        </div>
    </footer>
</div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">var ltc_config = {{ ltc_js_config()|json_encode|raw }};</script>
    {% javascripts
        '@LtcCoreBundle/Resources/vendor/jquery.min.js'
        '@LtcCoreBundle/Resources/vendor/jquery.infinitescroll.min.js'
        '@LtcCoreBundle/Resources/vendor/jquery.hint.js'
        '@LtcCoreBundle/Resources/js/front.js'
        filter="?yui_js" %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2501789-4']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endblock %}
