{% extends "LtcCoreBundle:Search:search.html.twig" %}

{% block meta_title %}Rechercher "{{ query }}"{% endblock %}

{% block results %}

<div class="results infinitescroll">
<p class="metadata">{{ results.totalItemCount }} document{{ results.totalItemCount > 1 ? "s" : "" }} trouve{{ results.totalItemCount > 1 ? "s" : "" }}</p>
{% set pagination %}{% include "LtcCoreBundle::pagination.html.twig" with {"pager": results.pages, "url": path("ltc_search", {"q": query})} %}{% endset %}
{{ pagination|raw }}
{% for doc in results %}
<div class="result paginated_item">
    <a href="{{ ltc_doc_path(doc) }}">{{ doc.shortTitle }}</a>
    <p class="metadata">{{ ltc_doc_category_title(doc) }} - {{ ltc_doc_publication_date_and_author(doc) }}</p>
</div>
{% endfor %}
{{ pagination|raw }}
</div>

{% endblock %}
