{% extends "LtcAdminBundle::layout.html.twig" %}

{% block form_actions %}
<button type="submit" name="submit" class="submit">Enregistrer</button>
ou <a href="{{ block("list_url") }}">retourner a la liste</a>
{% endblock %}

{% block content %}
<h1>{{ block("title") }}</h1>

<form action="{{ block("action") }}" {{ form_enctype(form) }} method="post" novalidate>
    {% if form.hasErrors %}
        <div class="error message">{{ form_errors(form) }}</div>
    {% endif %}
    <div>{{ block("form_actions") }}</div>
    {{ block("form_fields") }}
    {{ form_hidden(form) }}
    <div>{{ block("form_actions") }}</div>
</form>
{% endblock %}
