{% extends "LtcAdminBundle::layout.html.twig" %}

{% form_theme form '::adminFormTheme.html.twig' %}

{% block form_actions %}
<button type="submit" name="submit" class="btn primary submit">Enregistrer</button>
<a class="btn" href="{{ block("list_url") }}">Retourner a la liste</a>
{% endblock %}

{% block content %}
<h1>{{ block("title") }}</h1>

<form action="{{ block("action") }}" {{ form_enctype(form) }} method="post" novalidate>
    {#
    {% if form.hasErrors %}
        <div class="error message">{{ form_errors(form) }}</div>
    {% endif %}
    #}
    <div class="actions">
        {{ block("form_actions") }}
    </div>
    {{ block("form_fields") }}
    {{ form_rest(form) }}
    <div class="actions">
        {{ block("form_actions") }}
    </div>
</form>
{% endblock %}
