{% extends "::root.html.twig" %}

{% block stylesheets %}
{{ parent() }}
    {% stylesheets
        '@LtcAdminBundle/Resources/autocomplete/jquery.autocomplete.css'
        '@LtcAdminBundle/Resources/css/admin.css'
        filter="?yui_css" %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
    {% javascripts
        '@LtcCoreBundle/Resources/vendor/jquery.min.js'
        '@LtcAdminBundle/Resources/autocomplete/jquery.autocomplete.min.js'
        '@LtcAdminBundle/Resources/js/admin.js'
        filter="?yui_js" %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block meta_title %}Admin{% endblock %}

{% block body %}
<div id="page">
    <div id="header">
        <div id="title_and_user_links">
            <h1><a href="{{ path("ltc_admin_dashboard") }}">Les Trois Couronnes</a></h1>
            <ul>
                <li class="username">{{ app.user.username }}</li>
                <li><a href="{{ path("fos_user_security_logout") }}">Deconnexion</a></li>
                <li><a href="{{ path("homepage") }}">Site</a></li>
            </ul>
        </div>
        {{ menu("ltc.admin.main") }}
    </div>

    <div id="content" class="{{ block("content_class") }}">
        {% if app.session.hasFlash("error") %}
            <div class="error message">{{ app.session.getFlash("error") }}</div>
        {% endif %}
        {% if app.session.hasFlash("warning") %}
            <div class="warning message">{{ app.session.getFlash("warning") }}</div>
        {% endif %}
        {% if app.session.hasFlash("notice") %}
            <div class="notification message">{{ app.session.getFlash("notice") }}</div>
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>

    <div id="footer">
        <ul>
            <li>Les Trois Couronnes - Administration</li>
            <li>&copy; Pascal Duplessis</li>
        </ul>
    </div>
</div>
{% endblock %}
