{% extends "LtcCore:Layout:root.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset("bundles/ltcadmin/css/admin.css") }}">
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset("bundles/ltccore/vendor/jquery-ui.min.js") }}"></script>
<script src="{{ asset("bundles/ltcadmin/js/admin.js") }}"></script>
{% endblock %}

{% block body %}
<div id="page">
    <div id="header">
        <div id="title_and_user_links">
            <h1>Les Trois Couronnes</h1>
            <ul>
                {#
                <li><a href="" class="active">Settings</a></li>
                <li><a href="#">Help</a></li>
                #}
                <li class="username">{{ app.user.username }}</li>
                <li><a href="{{ path("_security_logout") }}">Deconnexion</a></li>
            </ul>
        </div>
        {{ menu("ltc.admin.main") }}
        <ul id="sub_nav">
        </ul>
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <div id="footer">
        <ul>
            <li>Les Trois Couronnes - Administration</li>
            <li>&copy; Pascal Duplessis</li>
        </ul>
    </div>
</div>
{% endblock %}
