{% extends "LtcCore:Layout:root.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset("bundles/ltcadmin/css/admin.css") }}">
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset("bundles/ltccore/vendor/jquery-ui.min.js") }}"></script>
<script src="{{ asset("bundles/ltcadmin/js/admin.js") }}"></script>
{% endblock %}

{% block body %}
<div id="page">
    <div id="header">
        <div id="title_and_user_links">
            <h1><a href="{{ path("ltc_admin_dashboard") }}">Les Trois Couronnes</a></h1>
            <ul>
                <li class="username">{{ app.user.username }}</li>
                <li><a href="{{ path("_security_logout") }}">Deconnexion</a></li>
                <li><a href="{{ path("homepage") }}">Site</a></li>
            </ul>
        </div>
        {{ menu("ltc.admin.main") }}
        {# <ul id="sub_nav"></ul> #}
    </div>

    <div id="content" class="{{ block("content_class") }}">
        {% if app.session.hasFlash("error") %}
            <div class="error message">{{ app.session.getFlash("error") }}</div>
        {% endif %}
        {% if app.session.hasFlash("warning") %}
            <div class="warning message">{{ app.session.getFlash("warning") }}</div>
        {% endif %}
        {% if app.session.hasFlash("notice") %}
            <div class="Notification message">{{ app.session.getFlash("notice") }}</div>
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>

    <div id="footer">
        <ul>
            <li>Les Trois Couronnes - Administration</li>
            <li>&copy; Pascal Duplessis</li>
        </ul>
    </div>
</div>
{% endblock %}
