{% extends "::root.html.twig" %}

{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset("bootstrap/bootstrap-1.2.0.min.css") }}" />
    {% stylesheets
        '@LtcAdminBundle/Resources/autocomplete/jquery.autocomplete.css'
        '@LtcAdminBundle/Resources/css/admin.css'
        filter="?yui_css" %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
    {% javascripts
        '@LtcCoreBundle/Resources/vendor/jquery.min.js'
        '@LtcAdminBundle/Resources/autocomplete/jquery.autocomplete.min.js'
        '@LtcAdminBundle/Resources/js/admin.js'
        filter="?yui_js" %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block meta_title %}Admin{% endblock %}

{% block body %}
<div id="header" class="topbar">
    <div class="topbar-inner">
        <div class="container">
            <h3><a href="{{ path("ltc_admin_dashboard") }}">LTC</a></h3>
            <ul class="nav">
                {% include "LtcAdminBundle::menu.html.twig" with {"current": block('menu')} %}
            </ul>
            <ul class="nav secondary-nav">
                <li class="dropdown">
                <a href="#" class="dropdown-toggle">{{ app.user.username }}</a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path("fos_user_security_logout") }}">Deconnexion</a></li>
                    <li><a href="{{ path("homepage") }}">Aller au site</a></li>
                </ul>
            </ul>
        </div>
    </div>
</div>

<div id="content" class="container {{ block("content_class") }}">
    {% if app.session.hasFlash("error") %}
        <div class="alert-message error"><a class="close" href="#">x</a><p><strong>Damned !</strong> {{ app.session.getFlash("error") }}<p></div>
    {% endif %}
    {% if app.session.hasFlash("warning") %}
        <div class="alert-message warning"><a class="close" href="#">x</a><p><strong>Pour info</strong> {{ app.session.getFlash("warning") }}<p></div>
    {% endif %}
    {% if app.session.hasFlash("notice") %}
        <div class="alert-message success"><a class="close" href="#">x</a><p><strong>Yep !</strong> {{ app.session.getFlash("notice") }}<p></div>
    {% endif %}
    {% block content %}
    {% endblock %}
</div>

<div id="footer">
    Les Trois Couronnes - Administration
    &copy; Pascal Duplessis
</div>
<script>var ltc_config = {{ ltc_js_config() | json_encode | raw }};</script>
{% endblock %}
