{% extends "LtcAdminBundle::layout.html.twig" %}

{% block content %}
<div>
    <h1>
        {{ block("title") }}
        <small>{{ block("subtitle") }}</small>
    </h1>
</div>
<div class="well">
    {{ block("well") }}
</div>
<table class="zebra-striped">
    {% for tag in ['thead', 'tfoot'] %}
    <{{ tag }}>
        <tr>
            {{ block("table_headers") }}
        </tr>
    </{{ tag }}>
    {% endfor %}
    <tbody>
    {% for object in objects %}
        <tr>
            {{ block("table_row") }}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
