{% extends "LtcAdmin::layout.html.twig" %}

{% block content %}
<div class="actions">
    {{ block("new_link") }}
</div>
<h1>{{ block("title") }}</h1>
<table>
    {% for tag in ['thead', 'tfoot'] %}
    <{{ tag }}>
        <tr>
            {{ block("table_headers") }}
            <td></td>
        </tr>
    </{{ tag }}>
    {% endfor %}
    <tbody>
    {% for object in objects %}
        <tr>
            {{ block("table_row") }}
            <td><a class="confirm" href="{{ block("delete_url") }}">Supprimer</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
