{% extends "LtcDocBundle:Admin:list.html.twig" %}

{% block menu %}{{ category.slug }}{% endblock %}

{% block new_link %}
<a href="{{ path("ltc_article_admin_article_new", {"categorySlug": category.slug}) }}">Nouvel article</a>
{% endblock %}

{% block title %}
{{ objects|length }} {{ category.title }}
{% endblock %}

{% block edit_url %}
{{ path("ltc_article_admin_article_edit", {"categorySlug": object.category.slug, "slug": object.slug}) }}
{% endblock %}

{% block delete_url %}
{{ path("ltc_article_admin_article_delete", {"id": object.id}) }}
{% endblock %}
