{% extends "LtcDocBundle:Admin:list.html.twig" %}

{% block menu %}{{ category.slug }}{% endblock %}

{% block well %}
<a class="btn primary" href="{{ path("ltc_article_admin_article_new", {"categorySlug": category.slug}) }}">Nouvel article</a>
<a class="btn" href="{{ path("ltc_article_admin_category_sort", {"slug": category.slug}) }}">Ordonner les articles</a>
{% endblock %}

{% block title %}
{{ category.title }}
{% endblock %}

{% block subtitle %}
{{ objects|length }} articles
{% endblock %}

{% block edit_url %}
{{ path("ltc_article_admin_article_edit", {"categorySlug": object.category.slug, "slug": object.slug}) }}
{% endblock %}
