{% extends "LtcAdminBundle::form.html.twig" %}

{% block menu %}story{% endblock %}

{% block list_url %}
{{ path("ltc_story_admin_story_list") }}
{% endblock %}

{% block delete_url %}
{{ path("ltc_story_admin_story_delete", {"id": object.id}) }}
{% endblock %}

{% block form_fields %}
{{ form_row(form.title) }}
<fieldset>
    <legend>Textes :</legend>
    <div class="clearfix">
        {{ form_label(form.summary) }}
        <div class="input">
            {{ form_widget(form.summary, {"attr": {"rows": 10}}) }}
            {{ form_errors(form.summary) }}
        </div>
    </div>
    <div class="clearfix with_image with_file">
        {{ form_label(form.body) }}
        <div class="input">
            {{ form_widget(form.body, {"attr": {"rows": 22}}) }}
            {{ form_errors(form.body) }}
        </div>
    </div>
</fieldset>
<fieldset>
    <legend>Invité :</legend>
    {{ form_row(form.authorName) }}
</fieldset>
{% endblock %}
