{% extends "LtcAdminBundle::list.html.twig" %}

{% block menu %}story{% endblock %}

{% block well %}
<a class="btn primary" href="{{ path("ltc_story_admin_story_new") }}">Nouvelle actu</a>
{% endblock %}

{% block title %}
Actus
{% endblock %}

{% block subtitle %}
{{ objects|length }} actus
{% endblock %}

{% block table_headers %}
<th>Titre</th>
<th>Auteur</th>
<th>Visible</th>
<th>Creation</th>
{% endblock %}

{% block table_row %}
<td><a href="{{ path("ltc_story_admin_story_edit", {"id": object.id}) }}">{{ object.title }}</a></td>
<td>{{ object.authorName }}</td>
<td>{{ object.isPublished ? "&#9679;" : "" }}</td>
<td>{{ object.createdAt|date }}</td>
{% endblock %}
