{% extends "LtcAdminBundle::layout.html.twig" %}

{% block content %}
<h1>{{ tags|length }} Tags</h1>
<table>
    {% for tag in ['thead', 'tfoot'] %}
    <{{ tag }}>
        <tr>
            <th>Titre</th>
            <th>Documents</th>
        </tr>
    </{{ tag }}>
    {% endfor %}
    <tbody>
    {% for tag in tags %}
        <tr>
            <td>{{ tag.title }}</td>
            <td>{{ tag.docCount }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
