{% extends "LtcAdminBundle::list.html.twig" %}

{% block table_headers %}
<th>Image</th>
<th>Titre</th>
<th>Auteur</th>
<th>Visible</th>
<th>Creation</th>
{% endblock %}

{% block table_row %}
<td>
{% if object.hasImage %}
<a href="{{ block("edit_url") }}"><img class="image_thumb" src="{{ asset(object.image|ltc_file|apply_filter("admin_small")) }}" /></a>
{% endif %}
</td>
<td><a href="{{ block("edit_url") }}">{{ object.title }}</a></td>
<td>{{ object.authorName }}</td>
<td>{{ object.isPublished ? "&#9679;" : "" }}</td>
<td>{{ object.createdAt|date }}</td>
{% endblock %}
