{% if pager.pageCount > 1 %}
    <div class="pagination">
    {% set baseUrl = "?" in url ? url~"&page=" : url~"?page=" %}
    {% spaceless %}
    {% if pager.first is defined and pager.first != pager.current %}
    <a class="first" href="{{ baseUrl }}{{ pager.first }}">Premiere</a>
    {% else %}
    <span class="first">Premiere</span>
    {% endif %} |
    {% if pager.previous is defined %}
    <a class="previous" href="{{ baseUrl }}{{ pager.previous }}">Precedente</a>
    {% else %}
    <span class="previous">Precedente</span>
    {% endif %} |
    {% for page in pager.pagesInRange %}
        {% if page == pager.current %}
            <span class="current">{{ page }}</span>
        {% else %}
            <a href="{{ baseUrl }}{{ page }}">{{ page }}</a>
        {% endif %} |
    {% endfor %}
    {% if pager.next is defined %}
    <a class="next" href="{{ baseUrl }}{{ pager.next }}">Suivante</a>
    {% else %}
    <span class="next">Suivante</span>
    {% endif %}
    {% endspaceless %}
    </div>
{% endif %}
