{% extends "LtcCoreBundle:Layout:base.html.twig" %}

{% block meta_title %}{{ author.title }}{% endblock %}

{% block content %}

<div class="row author">
    {% if author.hasImage %}
    <div class="author_image">
        <img alt="{{ author.image.legend }}" src="{{ asset(author.image.path|apply_filter("preview")) }}" />
    </div>
    {% endif %}
    <h1 class="title big">{{ author.title }}</h1>
    <div class="mardown">{{ author.summary|markdown }}</div>
</div>
<div class="row">
    <div class="eightcol markdown">
        {{ author.body|markdown }}
    </div>
    <div class="fourcol last markdown">
        {{ author.publications|markdown }}
    </div>
</div>

{% endblock %}
