{% extends "::base.html.twig" %}

{% block body_class %}home{% endblock %}

{% block meta_title_separator %}{% endblock %}

{% block content %}

<div class="row home_banner_wrap">
    <div class="home_banner">{% render "LtcStoryBundle:Story:featured" %}</div>
</div>

<div class="row home_featured">
    <div class="eightcol">
        {% render "LtcArticleBundle:Article:featured" %}
    </div>
    <div class="fourcol last">
        <span class="title"><a href="{{ path("ltc_blog_entry_index") }}">Table ronde</a></span>
        {% render "LtcBlogBundle:Blog:smallList" with {"numberOfDocs": 5} %}
        <a class="all_others" href="{{ path("ltc_blog_entry_index") }}">&gt; autres articles</a>
    </div>
</div>

<div class="row home_overview">

    {% render "LtcArticleBundle:Category:overview" %}

    <div class="fourcol last">

        <div class="home_tags">
            <span class="title"><a href="{{ path("ltc_tag_cloud") }}">Tags</a></span>
            {% render "LtcTagBundle:Tag:smallCloud" with {"numberOfTags": 20} %}
            <a class="all_others" href="{{ path("ltc_tag_cloud") }}">&gt; autres tags</a>
        </div>

        <span class="title">Ailleurs</span>
        <a href="{{ photo.url }}"><img src="{{ asset(photo.image|ltc_file|apply_filter("lantenora")) }}" alt="{{ photo.title}}" /></a>
        <p class="metadata">{{ photo.image.legend }}</p>
        <a class="all_others" href="{{ photo.url }}">&gt; {{ photo.title }}</a>

    </div>
</div>

{% endblock %}
