{% extends "::base.html.twig" %}

{% block body_class %}home{% endblock %}

{% block meta_title_separator %}{% endblock %}

{% block content %}

<div class="row">
    <div class="eightcol">

        <div class="home_featured">
            {% render "LtcCoreBundle:Main:featured" %}
        </div>

        <div class="home_overview">
            {% render "LtcArticleBundle:Category:overview" %}
        </div>

    </div>
    <div class="fourcol last">

        <div class="side_story">
            {% render "LtcStoryBundle:Story:featured" %}
        </div>

        <span class="title"><a href="{{ path("ltc_blog_entry_index") }}">Table ronde</a></span>
        {% render "LtcBlogBundle:Blog:smallList" with {"numberOfDocs": 5} %}
        <a class="all_others" href="{{ path("ltc_blog_entry_index") }}">&gt; autres articles</a>

        <span class="title">Ailleurs</span>
        <a href="{{ photo.url }}"><img src="{{ asset(photo.image|ltc_file|apply_filter("lantenora")) }}" alt="{{ photo.title}}" /></a>
        <p class="metadata">{{ photo.image.legend }}</p>
        <a class="all_others" href="{{ photo.url }}">&gt; {{ photo.title }}</a>
        <br />
        <a class="all_others" href="http://esmeree.fr/blanc-cerf">&gt; Le Blanc Cerf</a>


        <div class="home_tags">
            <span class="title"><a href="{{ path("ltc_tag_cloud") }}">Tags</a></span>
            {% render "LtcTagBundle:Tag:smallCloud" with {"numberOfTags": 20} %}
            <a class="all_others" href="{{ path("ltc_tag_cloud") }}">&gt; autres tags</a>
        </div>
    </div>
</div>

{% endblock %}
